    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    width: 80%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "violet violet gray white"
        "whitesmall black black white";
    gap: 10px;
}
.violet {
    background-color: #733FC8;
    grid-area: violet;
    border-radius: 8px;
    display: grid;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);     
}
        .heeder {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0px;
            color: white;
        }
        .text {
            font-weight: 500;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0px;
            color: rgba(255, 255, 255, 0.486);
        }
        .named {
            font-weight: 500;
            font-size: 13px;
            color: white;
        }
        .VG1 {
            font-weight: 500;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.555);
        }
        .pic {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;            
        }
       
.gray {
    background-color: #48556A;
    grid-area: gray;
    border-radius: 8px;
    display: grid;
    padding: 20px;
    gap: 10px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);   
}
        .namej {
            width: 90;
            height: 13;
            color: white;
        }
        .VG {
            font-weight: 500;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.473);
        }
        .text1 {
            font-weight: 500;
            font-size: 13px;
            color: rgba(255, 255, 255, 0.534);
        }
        .heeder1 {
            font-weight: 600;
            font-size: 20px;
            color: white;
        }  
        .pic1 {
            display: flex;
            flex-direction: row;
            align-items: center; 
            gap: 12px;           
        }
.whitesmall {
    background-color: white;
    border: 1px black;
    grid-area: whitesmall;
    border-radius: 8px;
    display: grid;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
        .heeder2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0px;
            color: black;
        }
        .text2 {
            font-weight: 500;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 0.432);
        }
        .nameJean {
            font-weight: 500;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.432);
        }
        .VG2 {
            font-weight: 500;
            font-size: 11px;
            color:rgba(0, 0, 0, 0.452);
        }
        .pic2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;            
        }
.black {    
    background-color: black;
    grid-area: black;
    border-radius: 8px;
    display: grid;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);   
}
        .namep {
            width: 90;
            height: 13;
            color: white;
        }
        .VG3 {
            font-weight: 500;
            font-size: 11px;
            color: white;

        }
        .text3 {
            font-weight: 500;
            font-size: 13px;
            color: rgba(255, 255, 255, 0.534);
        }
        .heeder3 {
            font-weight: 600;
            font-size: 20px;
            color: white;
        }
         .pic3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;            
        }
.white {
    background-color: white;
    border: 1px black;
    grid-area: white;
    border-radius: 8px;
    display: grid;
    padding: 20px;
    gap: 10px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}
        .heeder4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0px;
            color: black;
        }
        .text4 {
            font-weight: 500;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 0.432);
        }
        .namek {
            font-weight: 500;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.432);
        }
        .VG4 {
            font-weight: 500;
            font-size: 11px;
            color:rgba(0, 0, 0, 0.452);
        }
        .pic4 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;            
        }
 

