    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(199, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 80%;
    height: 80dvh;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
